body{
    
    background-color: #555669;
    
}

button{
    color: rgb(34, 13, 230);
}

div{
    display:inline-block;

}
button{
    display: block;
}
#sect1{
    background-color: greenyellow;
    align-self: center;
}
#sect2{
    background-color: honeydew;
}
#sect3{
    background-color: hotpink;
}