body{
    
    background-color: #555669;
    
}

button{
    color: rgb(34, 13, 230);
}

div{
    display:inline-block;

}
button{
    display: block;
}
#sect1{
    /* background-color: rgb(205, 165, 243); */
    height: 200px;
    width: 150px;
}
#sect2{
    background-color: rgb(205, 165, 243);
    width: 150px;
    height: 200px;
}

#sect3{
    background-color: rgb(205, 165, 243);
    width: 150px;
    height: 200px;
}
