body{
    
    background-color: rgb(78, 32, 78) ;
    display: grid;
    /* grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 33% 33% 33%;
       */
    
}

.start{
    color: rgb(34, 13, 230);
    
}
.tryAgain{

        color: rgb(34, 13, 230);
        
    
}

div{
    display:inline-block;

}
button{
    display: block;
    align-items: baseline;
}
#sect1{
    background-color: rgb(205, 165, 243);
    height: 180px;
    width: 150px;
    background-size: cover;}
    
#sect2{
    background-color: rgb(205, 165, 243);
    width: 150px;
    height: 180px;
    background-size: cover;
    
}
#sect3{
    background-color: rgb(205, 165, 243);
    width: 150px;
    height: 180px;
    background-size: cover;
    
} */
#winner{
    width: 300px;
    height: 300px;
    background-size: cover;

}

#lost{
    width: 200px;
    height: 300px; 
    background-image: cover;
    
} 
h1{
    color:rgb(217, 197, 235);
    text-align: center;
    background-image: '';
}
/* //rgb(205, 165, 243)


#slot-machine{
  background-color: rgb(205, 165, 243);
  height: 180px;
  width: 150px;
  background-size:cover;
}




 
